<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="Utility.TestListener"/>
        <listener class-name="Utility.CustomListener"/>
    </listeners>
    <test name="LoanTests">
        <classes>
<!--            <class name="tests.restBooker_withConfig"/>-->
                <class name="tests.personalLoan"/>
<!--            <class name="tests.RRSF_FuturevalueCalculatoe"/>-->
<!--            <class name="tests.Equity_Linked_GIC_return_Calculator"/>-->
<!--            <class name="tests.Investment_Process_In_Mutual_Funds"/>-->
<!--            <class name="tests.SingUp_page"/>-->
<!--             <class name="tests.ApiDomeAppliaction"/>-->
<!--                <class name="tests.CreateUserTest"/>-->
<!--                <class name="tests.UpdateUserTest"/>-->
<!--                <class name="tests.restBooker"/>-->
        </classes>
    </test>
</suite>
